apiVersion: v2
# renovate: datasource=docker depName=weblate/weblate
appVersion: 5.0.0.1
description: Weblate is a free web-based translation management system.
name: weblate
type: application
version: 0.4.31
home: https://weblate.org/
icon: https://s.weblate.org/cdn/weblate.svg
maintainers:
- name: tarioch
  email: patrick@ch.tario.org
- name: nijel
  email: michal@weblate.org
dependencies:
- name: postgresql
  version: 12.8.0
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.enabled
- name: redis
  version: 17.17.1
  repository: https://charts.bitnami.com/bitnami
  condition: redis.enabled
