apiVersion: v2
appVersion: 4.14.2
description: Weblate is a free web-based translation management system.
name: weblate
type: application
version: 0.4.18
home: https://weblate.org/
icon: https://s.weblate.org/cdn/weblate.svg
maintainers:
- name: tarioch
  email: patrick@ch.tario.org
- name: nijel
  email: michal@weblate.org
dependencies:
- name: postgresql
  version: 12.1.2
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.enabled
- name: redis
  version: 17.3.11
  repository: https://charts.bitnami.com/bitnami
  condition: redis.enabled
