apiVersion: v2
# renovate: image=weblate/weblate
appVersion: 5.15.2.0
description: Weblate is a free web-based translation management system.
name: weblate
type: application
version: 0.5.26
home: https://weblate.org/
icon: https://s.weblate.org/cdn/weblate.svg
maintainers:
- name: tarioch
  email: patrick@ch.tario.org
- name: nijel
  email: michal@weblate.org
dependencies:
- name: postgresql
  version: 16.7.15
  repository: https://charts.bitnami.com/bitnami
  condition: postgresql.enabled
- name: redis
  version: 24.1.0
  repository: https://charts.bitnami.com/bitnami
  condition: redis.enabled
