name: Release Charts

on:
  push:
    branches:
    - main
    paths:
    - charts/**

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0

        persist-credentials: false
    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Install Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      with:
        version: v3.4.0

    - name: Add repos
      run: |
        yq '.chart-repos' .github/ct.yaml | while read -r line ; do
          repodef="${line##- }"
          helm repo add "${repodef%%=*}" "${repodef##*=}"
        done

    - name: Run chart-releaser
      uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
      env:
        CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CR_GENERATE_RELEASE_NOTES: true
