name: Release Charts

on:
  push:
    branches:
    - main
    paths:
    - charts/**

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Configure Git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Install Helm
      uses: azure/setup-helm@v3.5
      with:
        version: v3.4.0

    - name: Add repos
      run: |
        yq '.chart-repos' .github/ct.yaml | while read line ; do
          repodef="${line##- }"
          helm repo add "${repodef%%=*}" "${repodef##*=}"
        done

    - name: Run chart-releaser
      uses: helm/chart-releaser-action@v1.7.0
      env:
        CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CR_GENERATE_RELEASE_NOTES: true
